.posts{
 padding-top: 1rem;
 padding-bottom: 4rem;
}
.posts h1,
.posts h2{
  color: var(--red-5);
}
.posts .s{
  color: var(--fontColor-m3-m4);
}
.posts button{
  margin-bottom: 0.5rem;
}
.posts .posts-error{
  color: var(--fontColor-m1-m6);
}
.posts-box{
  padding:.5rem;
  border-top:1px solid  var(--borderBoxes);
  border-left:1px solid  var(--borderBoxes);
  border-right:1px solid  var(--borderBoxes);
}
.posts-box:last-child{
  border-bottom:1px solid  var(--borderBoxes);
}
.posts-box h2,
.posts-box p{
  margin-bottom: 0;
}
.posts p{
  color: var(--fontColor-m1-m6);
}
.posts .post-info,
.posts .post-date,
.posts .comment-count{
  color: var(--fontColor-m3-m4);
}
.posts .user-name{
  color: var(--red-5);
}
/* .posts .posts-sidebar{
 display: none;
}
@media (min-width: 62rem){
 .posts .posts-sidebar{
   display:block;
   border: 1px solid var(--mono-5);
   margin-bottom: .05rem;
 }
} */
