.post{
  padding-top: 1rem;
}
.post h2,
.post .user-name,
.post .back-to-posts{
  color: var(--red-5);
}
.post-box{
  padding:.7rem;
  border:1px solid var(--borderBoxes);
}
.post p{
  color: var(--fontColor-m1-m6);
}
.post .post-info,
.post .post-date{
  color: var(--fontColor-m3-m4);
}

/* .post .post-sidebar{
 display: none;
}
@media (min-width: 62rem){
 .post .post-sidebar{
   display:block;
   border: 1px solid var(--mono-4);
   margin-bottom: .05rem;
 }
} */
