footer{
  min-height: 6.25rem;
  background-color: var(--bgFooter);
}
footer a,
footer p{
  color: var(--mono-6);
}
footer a:hover{
  color: var(--mono-6);
}
footer .footer-links{
  display: flex;
  padding-top: 4rem;
}
footer .footer-links ul{
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  list-style: none;
}
footer .footer-links ul a{
  display: block;
  padding: 0.25rem;
}
footer .footer-copyright{
  display: flex;
  justify-content: center;
}
footer .footer-copyright p{
  padding-top: 1rem;
}
