.about h1,
.contact h1,
.terms h1{
  color: var(--red-4);
}
.about small{
  color: var(--fontColor-m3-m4);
}
.about h4{
  color: var(--fontColor-m1-m6);
}
.about p,
.contact p,
.terms p{
  color: var(--fontColor-m3-m4);
}
