.alert {
  border-radius: 0;
}
.alert-success,
.alert-danger {
  color: var(--mono-6);
  background-color: var(--bgAlert);
  border: 1px solid var(--red-4);
}
.btn-close {
  padding-left: 3rem;
  background: var(--alertIcon) !important;
}
