:root{
  --mono-h: 100;
  --mono-s: 0%;
  --mono-l: 15%;
  --mono-1: hsl(var(--mono-h), var(--mono-s), var(--mono-l));
  --mono-2: hsl(var(--mono-h), var(--mono-s), calc(var(--mono-l) + 10%));
  --mono-3: hsl(var(--mono-h), var(--mono-s), calc(var(--mono-l) + 30%));
  --mono-4: hsl(var(--mono-h), var(--mono-s), calc(var(--mono-l) + 50%));
  --mono-5: hsl(var(--mono-h), var(--mono-s), calc(var(--mono-l) + 70%));
  --mono-6: hsl(var(--mono-h), var(--mono-s), calc(var(--mono-l) + 80%));

  --red-h: 357; //0
  --red-s: 86%; //100
  --red-l: 25%;  //25
  --red-1: hsl(var(--red-h), var(--red-s), var(--red-l));
  --red-2: hsl(var(--red-h), var(--red-s), calc(var(--red-l) + 15%));
  --red-3: hsl(var(--red-h), var(--red-s), calc(var(--red-l) + 30%));
  --red-4: hsl(var(--red-h), var(--red-s), calc(var(--red-l) + 45%));
  --red-5: hsl(var(--red-h), var(--red-s), calc(var(--red-l) + 65%));
  --red-6: hsl(var(--red-h), var(--red-s), calc(var(--red-l) + 75%));

  --blue-h: 198;
  --blue-s: 54%;
  --blue-l: 10%;
  --blue-1: hsl(var(--blue-h), var(--blue-s), var(--blue-l));
  --blue-2: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 5%));
  --blue-3: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 10%));
  --blue-4: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 60%));
  --blue-5: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 65%));
  --blue-6: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 80%));
}
.theme-light {
  --bgColor-mono2-blue1: var(--mono-2);
  --bgColor-mono6-blue2: var(--mono-6);
  --bgColor-mono6-blue3: var(--mono-6);
  --bgColor-mono5-blue4: var(--mono-5);
  --bgColor-red2-blue3: var(--red-2);
  --bgColor-red3-blue1: var(--red-3);
  --bgColor-blue6-mono3: var(--blue-6);
  --bgColor-mono6-mono3: var(--mono-6);
  --fontColor-mono2-mono2: var(--mono-2);
  --fontColor-mono5-mono5: var(--mono-5);
  --fontColor-mono5-red1: var(--mono-5);
  --fontColor-mono6-mono6: var(--mono-6);
  --fontColor-mono2-mono6: var(--mono-2);
  --fontColor-mono3-mono5: var(--mono-3);
  --fontColor-red2-red2: var(--red-2);
  --fontColor-red2-red3: var(--red-2);
  --fontColor-red2-mono4: var(--red-2);
  --fontColor-red2-mono5: var(--red-2);
  --fontColor-red3-mono5: var(--red-3);
  --buttonColor-mono2-mono2: var(--mono-2);
  --buttonColor-mono2-mono3: var(--mono-2);
  --buttonColor-mono3-mono4: var(--mono-3);
  --buttonColor-red2-red1: var(--red-2);
  --buttonColor-red3-red2: var(--red-3);
  --borderColor-mono4-mono5: var(--mono-4);
  --boxShadow-0280mono4-0000mono5: 0 2px 8px 0 var(--mono-4);
  --alertSuccess-blue3-blue3: var(--blue-3);
  --alertDanger-red2-red1: var(--red-2);
  --alertIcon-ffffff-ffffff: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff' %3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}
.theme-dark {
  --bgColor-mono2-blue1: var(--blue-1);
  --bgColor-mono6-blue2: var(--blue-2);
  --bgColor-mono6-blue3: var(--blue-3);
  --bgColor-mono5-blue4: var(--blue-4);
  --bgColor-red2-blue3: var(--blue-3);
  --bgColor-red3-blue1: var(--blue-1);
  --bgColor-blue6-mono3: var(--mono-3);
  --bgColor-mono6-mono3: var(--mono-3);
  --fontColor-mono2-mono2: var(--mono-2);
  --fontColor-mono5-mono5: var(--mono-5);
  --fontColor-mono5-red1: var(--red-1);
  --fontColor-mono6-mono6: var(--mono-6);
  --fontColor-mono2-mono6: var(--mono-6);
  --fontColor-mono3-mono5: var(--mono-5);
  --fontColor-red2-red2: var(--red-2);
  --fontColor-red2-red3: var(--red-3);
  --fontColor-red2-mono4: var(--mono-4);
  --fontColor-red2-mono5: var(--mono-5);
  --fontColor-red3-mono5: var(--mono-5);
  --buttonColor-mono2-mono2: var(--mono-2);
  --buttonColor-mono2-mono3: var(--mono-3);
  --buttonColor-mono3-mono4: var(--mono-4);
  --buttonColor-red2-red1: var(--red-1);
  --buttonColor-red3-red2: var(--red-2);
  --borderColor-mono4-mono5: var(--mono-5);
  --boxShadow-0280mono4-0000mono5: 0 0 0 0 var(--mono-5);
  --alertSuccess-blue3-blue3: var(--blue-3);
  --alertDanger-red2-red1: var(--red-1);
  --alertIcon-ffffff-ffffff: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff' %3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}
