.toggle-container{
  width: 4.688rem;
  margin: 0 auto;
}
.toggle-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}
.toggle-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 4.563rem;
  height: 2.438rem;
  background: var(--mono-3);  //light color bg
  border-radius: 4.563rem;
  position: relative;
  transition: background-color .4s ease-in-out; /* 0.2 COLOR CHANGE*/
}

.toggle-label .toggle--label-background {
  content: '';
  position: absolute;
	width: 2.188rem;
	height: 2.188rem;
  top: 2px;
  left: 3px;
  border-radius: 2.188rem;
  transition: 0.4s ease-in-out;  /* 0.2 SLIDE*/
  background: var(--mono-4); //light mode button
  box-shadow: 0 0 2px 0 rgba(10, 10, 0.29);
}
.toggle-checkbox:checked + .toggle-label .toggle--label-background {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: var(--mono-4); //dark mode button
}
