.new-post{
  width:98%;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: var(--bgForm);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}
@media (min-width: 36rem) {
  .new-post{
    max-width: 31.25rem;
  }
}
.new-post h3{
  color: var(--red-4);
}
.new-post label{
  color: var(--fontColor-m1-m6);
}
.new-post .col-12{
  margin-bottom: 1.5rem;
}
.new-post .btn-link{
  color: var(--red-4);
  text-decoration: none;
}
