.comment-form{
  padding-top:2rem;
  padding-bottom: 2rem;
}
.comment-form label,
.comment-form .guest-message{
  color: var(--red-4);
}
.comment-form .btn{
  margin-top: 1rem;
}
.guest-container a{
  margin: 0.25rem;
}
