.jumbotron{
  padding:2rem !important; //default is 4rem 2rem
  background-image: var(--bgLanding);
}
.jumbotron h1{
  color: var(--red-4);
}
@media (min-width: 768px){
  .inline-b-768{
    display: inline-block;
  }
}
.font-responsive-logo{
  font-size: 40px;
}
@media (min-width: 768px){
  .font-responsive-logo{
    font-size: 55px !important;
  }
}
.font-responsive-sublogo{
  font-size: 15px;
}
@media (min-width: 768px){
  .font-responsive-sublogo{
    font-size: 25px;
  }
}
.logo{
  width:60%;
  height:auto;
}
@media (min-width: 576px){
  .logo{
    width:400px;
    height:400px;
  }
}
.max-w-700{
  max-width:700px;
  margin: 0 auto;
}
.lang-ja{
  font-family: 'MS PGothic', Osaka, Arial, sans-serif;
  display:inline-block;
  color: var(--fontColor-m1-m6);
  font-size: 1.5rem;
  font-weight: 500;
}
.font-responsive-ja{
  font-size:20px;
}
@media (min-width: 768px){
  .font-responsive-ja{
    font-size:25px;
  }
}
.landing-sub{
  background: var(--bgLanding2);
}
hr.landing-sub-break{
  width:150px;
  margin:0 auto 1rem auto;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, var(--mono-5), var(--mono-1), var(--mono-5));
}
@media (min-width: 576px){
  hr.landing-sub-break{
    display:none;
  }
}
