.loader-container{
}
.loader {
  position: fixed;
  display: block;
  z-index: 9;
  top: 50%;
  left: 46%;
  margin: -40px 0 0 -20px;
  height: 80px;
  width: 80px;
  border: 10px solid hsl(357, 86%, 50%);
  border-top-color: hsl(357, 86%, 60%);
  border-left-color: hsl(357, 86%, 70%);
  border-bottom-color: hsl(357, 86%, 80%);
  border-right-color: hsl(357, 86%, 90%);
  border-radius: 80px;
}
@keyframes loaderRotate{
  100% {transform: rotate(360deg);}
}
@keyframes loaderFadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.loader-fadeIn {
  animation:
    loaderRotate 1s linear infinite,
    loaderFadeIn .5s linear forwards;
}
