html, body{
  font-size:100%;
	font-family: 'Helvetica', Times, serif;
  background: var(--bgMain);
}
nav{
  height:50px;
}
.global-mh{
  min-height:calc(100vh - 240px)
};//subtracted sum is supposed to be based on nav + footer
a, a:hover{
  text-decoration: none
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.fade-in{
  animation: fadeIn .5s linear forwards !important;
}

//COMPONENT - NOT FOUND
.not-found .logo-404{
  width:60%;
  height:auto;
}
@media (min-width: 576px){
  .not-found .logo-404{
    max-width:400px;
    max-height:400px;
  }
}
.not-found h3{
  color: var(--mono-6);
}
