#slideMenu {
  position: fixed;
  overflow: scroll;
  top: 2.5rem;
  left: .5rem;
  z-index: 100;
  padding:1.5rem;
  border-radius: 0.25rem;
  background: var(--bgMenu);
  border: 1px solid var(--borderMenu);
  transition: transform .5s cubic-bezier(0, .52, 0, 1);
}
#slideMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}
#slideMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
#slideMenu.show a{
  padding: 0.5rem;
  line-height: 0.75rem;
  color: var(--mono-5) !important;
}
#slideMenu.show a:hover{
  color: var(--mono-6) !important;
}
@media (min-width: 36rem) {
  #menuButton,
  #slideMenu{
    display: none;
  }
}
