.popover-container{
  position:relative;
  z-index:100;
}
.popover{
  position:absolute;
  width: 150px;
  margin: 20px auto;
  padding: 15px;
  top:-25px;
  left:-50px;
  background: var(--bgMenu);
  border-radius: 4px;
  font-size:16px;
  box-shadow: var(--boxShadow1);
}
a.popover{
  color: var(--fontColor-m1-m6) !important;
}
a.popover:hover{
  color:  var(--fontColor-m1-m6) !important;
}
