.ep-modal {
  display: block;
  position: fixed;
  width: 270px;
  height: 420px;
  top: calc(40% - 150px);
  left: calc(50% - 135px);
  padding: 40px;
  z-index: 90;
  background: var(--bgModal);
}
@media (min-width:413px){
  .ep-modal{
    width:400px;
    height:300px;
    left: calc(50% - 200px);
  }
}
.ep-modal-title{
  display:inline-block;
  width:85%;
}
h3.ep-modal-title,
.ep-modal-body h5{
  color: var(--mono-6);
}
.ep-modal-icon-container{
  display:inline-block;
  width:5%;
  vertical-align: top;
  padding:.1rem 0 0 .5rem;
  cursor:pointer;
}
.ep-modal-icon-container img{
  width: 25px;
  height: 25px;
}
.ep-modal-body{
  padding: 2rem 0;
}
.ep-modal-body h5{
}
.ep-modal-footer{
  margin-left:5px;
}
