.ep-modal {
  display: block;
  position: fixed;
  width: 16.875rem;
  height: 26.25rem;
  top: calc(40% - 9.375rem);
  left: calc(50% - 8.438rem);
  padding: 2.5rem;
  z-index: 90;
  background: var(--bgModal);
}
@media (min-width: 25.813rem){
  .ep-modal{
    width: 25rem;
    height: 18.75rem;
    left: calc(50% - 12.5rem);
  }
}
.ep-modal-title{
  display:inline-block;
  width: 85%;
}
h3.ep-modal-title,
.ep-modal-body h5{
  color: var(--mono-6);
}
.ep-modal-icon-container{
  display:inline-block;
  width: 5%;
  vertical-align: top;
  padding: .1rem 0 0 .5rem;
  cursor:pointer;
}
.ep-modal-icon-container img{
  width: 1.563rem;
  height: 1.563rem;
}
.ep-modal-body{
  padding: 2rem 0;
}
.ep-modal-body h5{
}
.ep-modal-footer{
  margin-left: 0.313rem;
}
