.navbar{
	background-color: var(--bgColor-red3-blue1) !important;
	border-bottom: 1px solid  var(--hold);
  padding: 0rem 1.5rem !important;
}
.navbar .navbar-brand,
.nav-link, a.nav-link{
  color:  var(--fontColor-mono5-mono5) !important
}
.navbar .navbar-brand:hover,
.nav-link:hover, a.nav-link:hover{
  color:  var(--fontColor-mono6-mono6) !important;
	cursor: pointer;
}
@media (min-width: 768px){
  .nav-item {
    margin-left:15px;
  }
}
