// POPOVER - PROFILE
.popover-container-profile{
  position:relative;
  z-index:100;
}
.popover-profile{
  position:absolute;
  top: -1.563rem;
  left: -3.125rem;
  width: 9.375rem;
  margin: 1.25rem auto;
  padding: 0.938rem;
  background: var(--bgMenu);
  border: 1px solid var(--borderMenu);
  border-radius: 0.25rem;
  font-size: 1em;
}
a.popover-profile{
  color: var(--mono-5) !important;
}
a.popover-profile:hover{
  color: var(--mono-6) !important;
}


// POPOVER - VOTE
.popover-vote-container{
  position:relative;
  z-index:100;
}
.popover-up,
.popover-down{
  position: absolute;
  top: -3.125rem;
  left: 0.625rem;
  padding: 0.438rem 0.625rem;
  color: var(--mono-6);
  background: var(--bgPopoverVote);
  border-radius: 0.25rem;
  font-size: 1em;
}
.popover-down{
  top:-0.625rem;
  left:0.625rem;
}
